@import "tailwindcss";


@font-face {
    font-family: 'DM Sans';
    src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
}

@theme {
    --font-all: 'DM Sans', sans-serif;
    --background: #F2EAEF;
    --color-primary: #FF5C8D;
    --color-black-text: #131014;
}

@layer base {
    body {
        font-family: var(--font-all);
        background-color: var(--background);
    }


}